* {
    margin: 0;
}

.cima {
    background-color: #2A8A5C;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.foto1 {
    width: 180px;
    height: 10rem;
}

.foto2 {
    width: 100px;
}

#btnBusca {
    width: 15px;
}

.pedidos {
    display: flex;
    align-items: center;
}

.baixo {
    background-color: #2A8A5C;
    display: flex;
}

.texto-info{
    color: white;
    font-size: 13px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}