body{
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: #fffafa;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #3309d9;
}

h2{
    color: rgb(196, 13, 13);
}

h3{
    color: rgb(19, 208, 19);
}

p{
    color: rgb(233, 233, 47);
}

li{
    color: rgb(192, 132, 22);
}

@media (max-widht: 425px){
    .text-content{
        text-align: center;
    }
}

